data/
datasets/
models/
*.h5
*.keras
*.pt
*.pth
__pycache__/
.ipynb_checkpoints/
.env
.DS_Store
desktop.ini
*.ini
.idea/
catboost_info/

# Dataset (repoya asla girmemeli)
Brain-Tumour-1/
notebooks/Brain-Tumour-1/
*.zip

# Python venv
.venv/
venv/

# Python venv
.venv/
venv/
